{% extends 'main/base.html' %}

{% block title %}
Books
{% endblock %}

{% block content %}

<h1>Головна сторінка проекту "Бібліотека".</h1>

{% if books %}
{% for elem in books %}
    <div class="alert alert-primary mt-1">
        <h3><u>{{ elem.title }}</u></h3>
        <p><b><i>{{ elem.author }}</i></b></p>
        <p><i>{{ elem.text }}</i></p>
        <p>Кількість: {{ elem.count }}</p>
        <p><b>Видано: {{ elem.published }}</b></p>
        <p><b>Зареєстровано: {{ elem.created }}</b></p>
    </div>
{% endfor %}
{% else %}
    <p>В даному каталозі записи відсутні.</p>
{% endif %}

{% endblock %}